<app-header/>

<main>
  <ul id="users">
    @for(user of users; track user.id){
      <li>
        <app-user 
        [user]="user"    
        (select) = "onSelectUser($event)"
        />

    }
    </ul>
    <!-- <li>
      <app-user 
      [user]="users[0]"    
      (select) = "onSelectUser($event)"
      />
      
    </li>
    <li>
      <app-user 
      [user]="users[1]"
      (select) = "onSelectUser($event)"
      />
      
    </li>
    <li>
      <app-user 
      [user]="users[2]"
      (select) = "onSelectUser($event)"
      />
    </li>
    <li>
      <app-user 
      [user]="users[3]"
      (select) = "onSelectUser($event)"
      />
    </li>
  </ul> -->
  @if(selectedUser){
    <app-tasks [name]="selectedUser.name"/>
  }@else{
    <p id="fallback">Select a user to see their tasks!</p>
  }
 
  <!-- TASK OF THAT USER -->
</main>



<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->
